[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
# webdriver
selenium = "*"
webdriver-manager = "*"
# data, api
pydantic = "*"
faker = "*"
requests = "*"
# cli
click = "*"
pyfiglet = "*"
# pytest
pytest = "<6.1.0"
pytest-reportportal = "*"
pytest-xdist = "*"
pytest-parallel = "*"
axe-selenium-python = "*"
